# NumPy

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("D:\\Codegnan\\Data Science\\Class\\Numpy\\Indian_Cricket_Team_Dataset.csv")

In [8]:
df1 = df.copy()

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Player Name      1000 non-null   object
 1   Age              1000 non-null   int64
 2   Matches Played   1000 non-null   int64
 3   Batting Average  1000 non-null   float64
 4   Strike Rate      1000 non-null   float64
dtypes: float64(2), int64(2), object(1)
memory usage: 39.2+ KB

## Query 1: Convert 'Age' column to a NumPy array.

In [9]:
# Convert 'Age' column to a NumPy array
age_array = df1['Age'].to_numpy()

print(age_array)  # Output: [25 30 35]

[26 23 32 34 30 27 32 24 26 29 22 26 30 30 27 24 23 27 27 22 25 24 21 27
 31 33 25 21 35 31 24 20 31 29 25 32 31 28 20 30 30 34 29 35 31 31 35 34
 33 33 34 33 22 31 26 23 35 28 22 24 22 26 24 28 26 21 23 28 31 33 21 29
 28 29 24 21 23 31 34 31 26 31 32 27 34 22 33 20 23 21 27 23 21 33 25 25
 29 23 25 32 34 21 29 31 21 29 33 23 33 34 35 34 27 33 26 31 28 33 27 24
 35 32 21 34 24 27 29 28 31 31 31 32 28 32 34 32 20 28 26 28 27 20 31 27
 27 34 30 22 20 27 22 22 20 30 24 29 26 29 28 31 26 28 27 31 21 20 35 26
 26 33 27 24 22 31 27 25 30 22 20 22 24 34 33 22 20 24 29 26 34 33 26 30
 28 34 34 29 29 31 32 22 34 35 26 20 23 32 35 23 33 24 26 26 32 34 30 32
 23 32 35 26 30 22 25 31 21 29 32 33 28 24 25 31 31 31 31 23 33 33 30 35
 29 26 31 28 26 33 20 20 28 30 33 28 23 32 28 22 26 25 27 30 28 33 24 20
 22 29 31 27 34 30 25 35 35 27 28 23 20 33 20 29 23 31 33 26 21 22 20 24
 20 27 20 30 20 21 21 31 25 26 24 35 20 20 22 33 21 24 31 29 35 25 35 26
 23 26 30 27 30 20 34 25 27 24 23 21 25 25 30 34 35 35 20 28 31 30 25 35
 32 22 23 31 30 23 22 29 22 34 22 23 35 26 23 28 20 27 35 26 21 27 20 30
 31 28 28 21 26 34 33 29 22 26 31 35 29 35 28 23 31 20 21 20 35 33 31 24
 24 35 30 26 28 28 22 22 35 35 22 23 27 25 27 20 27 23 30 20 27 23 25 27
 23 33 22 35 33 28 22 28 32 21 35 33 21 21 25 22 35 32 28 23 20 23 20 33
 24 35 23 27 35 27 26 22 20 35 20 35 31 30 22 25 26 25 33 33 25 25 32 22
 25 27 30 30 21 24 33 20 31 34 35 20 24 31 32 35 22 23 22 35 20 35 20 31
 31 33 32 33 24 25 22 31 28 24 27 32 20 33 24 34 22 31 20 23 34 32 24 35
 26 20 35 22 35 21 28 29 34 25 29 22 27 33 27 21 35 34 25 26 21 34 30 29
 21 29 20 27 20 28 30 25 35 26 32 29 26 29 22 21 28 27 32 31 29 26 28 23
 32 23 20 27 35 33 35 33 31 22 26 34 31 21 21 35 26 34 25 22 28 29 34 33
 32 25 29 29 25 20 23 29 25 34 25 30 31 24 20 27 24 31 31 31 24 26 23 25
 32 35 23 33 34 22 26 27 23 35 32 21 31 29 33 22 20 27 34 22 31 29 26 29
 24 29 24 33 26 34 28 31 24 20 29 29 20 34 21 35 33 25 35 28 27 32 24 20
 35 32 26 35 34 24 25 32 26 22 31 29 35 22 24 25 28 32 33 31 24 34 20 33
 33 33 23 24 31 35 29 29 35 24 26 23 20 33 33 24 26 29 29 25 24 23 21 23
 34 29 29 22 29 35 20 27 24 32 23 35 27 35 26 21 20 31 35 35 30 23 27 31
 21 22 31 20 20 32 22 30 24 31 22 20 20 27 29 30 31 32 32 31 34 33 21 32
 22 21 22 26 20 29 27 32 29 29 29 33 21 22 28 26 23 29 24 21 32 30 32 27
 23 28 24 32 28 23 29 24 28 27 35 22 20 22 35 23 21 20 26 35 27 26 33 35
 24 31 20 26 32 26 28 22 28 33 20 20 33 23 35 28 25 32 30 22 20 23 31 32
 28 22 31 28 26 31 33 34 35 23 22 29 34 35 24 24 22 31 28 23 30 24 23 24
 26 35 28 26 32 24 29 29 26 33 34 29 24 22 26 32 30 30 21 34 31 28 29 29
 31 20 32 25 26 33 32 27 29 28 21 30 29 21 24 32 24 25 22 27 35 32 20 25
 23 20 34 26 28 32 23 23 25 31 34 22 32 31 25 26 30 29 29 22 26 33 22 32
 32 21 31 33 29 23 31 27 32 34 28 26 20 22 32 31 33 28 34 31 20 28 27 20
 25 24 25 29 31 32 35 32 32 34 24 35 25 24 30 31 24 23 22 22 23 28 21 34
 28 20 33 34 34 20 24 25 25 22 35 26 28 30 31 29 35 35 27 25 31 27 31 24
 27 29 31 23 29 27 29 31 21 31 31 24 28 23 35 30]

## Query 2: Find the average age of players.

In [11]:
df1.describe()

               Age  Matches Played  Batting Average  Strike Rate
count  1000.000000      1000.00000       1000.00000  1000.000000
mean     27.570000       250.32600         39.76529   150.661230
std       4.666785       142.09216         11.47482    29.122759
min      20.000000        10.00000         20.01000   100.020000
25%      23.000000       126.00000         29.47750   125.355000
50%      28.000000       252.50000         40.13500   151.890000
75%      32.000000       370.25000         49.73250   176.095000
max      35.000000       500.00000         59.85000   199.970000

In [18]:
df1['Age'].mean()

27.57

## Query 3: Find the oldest and youngest player age.

In [19]:
df1['Age'].max()

35

In [20]:
df1['Age'].min()

20

## Query 4: Count the total number of players above 30 years old

In [21]:
df1[df1['Age']>30]['Age'].count()

336

## Query 5: Find the median batting average.

In [25]:
df1['Batting Average'].median()

40.135

## Query 6: Find the standard deviation of strike rates.

In [26]:
df1['Batting Average'].std()

11.474820295617562

## Query 7: Find the 90th percentile of batting average.

In [29]:
df1['Batting Average'].quantile(0.90)

55.323

## Query 8: Find the number of players with strike rate above 150.

In [32]:
df1[df1['Strike Rate']>150]['Strike Rate'].count()

513

## Query 9: Reshape the first 20 batting averages into a 4x5 matrix.

In [37]:
avg_20 = df1['Batting Average'].head(20).to_numpy()
avg_20_matrix = avg_20.reshape(4,5)
display(avg_20_matrix)

array([[27.7 , 24.61, 36.87, 51.81, 49.8 ],
       [22.2 , 38.21, 40.9 , 45.78, 46.01],
       [34.59, 42.43, 39.24, 55.4 , 41.21],
       [37.64, 36.18, 42.9 , 52.16, 41.54]])

## Query 10: Compute row-wise sum of reshaped matrix.

In [41]:
row_sum = avg_20_matrix.sum(axis = 1)
print(row_sum)

[190.79 193.1  212.87 210.42]

## Query 11: Compute row-wise sum of reshaped matrix.

In [43]:
column_sum = avg_20_matrix.sum(axis = 0)
print(column_sum)

[122.13 141.43 159.91 205.15 178.56]

## Query 12: Transpose the reshaped matrix.

In [46]:
transpose = age_array.T
print(transpose)

[26 23 32 34 30 27 32 24 26 29 22 26 30 30 27 24 23 27 27 22 25 24 21 27
 31 33 25 21 35 31 24 20 31 29 25 32 31 28 20 30 30 34 29 35 31 31 35 34
 33 33 34 33 22 31 26 23 35 28 22 24 22 26 24 28 26 21 23 28 31 33 21 29
 28 29 24 21 23 31 34 31 26 31 32 27 34 22 33 20 23 21 27 23 21 33 25 25
 29 23 25 32 34 21 29 31 21 29 33 23 33 34 35 34 27 33 26 31 28 33 27 24
 35 32 21 34 24 27 29 28 31 31 31 32 28 32 34 32 20 28 26 28 27 20 31 27
 27 34 30 22 20 27 22 22 20 30 24 29 26 29 28 31 26 28 27 31 21 20 35 26
 26 33 27 24 22 31 27 25 30 22 20 22 24 34 33 22 20 24 29 26 34 33 26 30
 28 34 34 29 29 31 32 22 34 35 26 20 23 32 35 23 33 24 26 26 32 34 30 32
 23 32 35 26 30 22 25 31 21 29 32 33 28 24 25 31 31 31 31 23 33 33 30 35
 29 26 31 28 26 33 20 20 28 30 33 28 23 32 28 22 26 25 27 30 28 33 24 20
 22 29 31 27 34 30 25 35 35 27 28 23 20 33 20 29 23 31 33 26 21 22 20 24
 20 27 20 30 20 21 21 31 25 26 24 35 20 20 22 33 21 24 31 29 35 25 35 26
 23 26 30 27 30 20 34 25 27 24 23 21 25 25 30 34 35 35 20 28 31 30 25 35
 32 22 23 31 30 23 22 29 22 34 22 23 35 26 23 28 20 27 35 26 21 27 20 30
 31 28 28 21 26 34 33 29 22 26 31 35 29 35 28 23 31 20 21 20 35 33 31 24
 24 35 30 26 28 28 22 22 35 35 22 23 27 25 27 20 27 23 30 20 27 23 25 27
 23 33 22 35 33 28 22 28 32 21 35 33 21 21 25 22 35 32 28 23 20 23 20 33
 24 35 23 27 35 27 26 22 20 35 20 35 31 30 22 25 26 25 33 33 25 25 32 22
 25 27 30 30 21 24 33 20 31 34 35 20 24 31 32 35 22 23 22 35 20 35 20 31
 31 33 32 33 24 25 22 31 28 24 27 32 20 33 24 34 22 31 20 23 34 32 24 35
 26 20 35 22 35 21 28 29 34 25 29 22 27 33 27 21 35 34 25 26 21 34 30 29
 21 29 20 27 20 28 30 25 35 26 32 29 26 29 22 21 28 27 32 31 29 26 28 23
 32 23 20 27 35 33 35 33 31 22 26 34 31 21 21 35 26 34 25 22 28 29 34 33
 32 25 29 29 25 20 23 29 25 34 25 30 31 24 20 27 24 31 31 31 24 26 23 25
 32 35 23 33 34 22 26 27 23 35 32 21 31 29 33 22 20 27 34 22 31 29 26 29
 24 29 24 33 26 34 28 31 24 20 29 29 20 34 21 35 33 25 35 28 27 32 24 20
 35 32 26 35 34 24 25 32 26 22 31 29 35 22 24 25 28 32 33 31 24 34 20 33
 33 33 23 24 31 35 29 29 35 24 26 23 20 33 33 24 26 29 29 25 24 23 21 23
 34 29 29 22 29 35 20 27 24 32 23 35 27 35 26 21 20 31 35 35 30 23 27 31
 21 22 31 20 20 32 22 30 24 31 22 20 20 27 29 30 31 32 32 31 34 33 21 32
 22 21 22 26 20 29 27 32 29 29 29 33 21 22 28 26 23 29 24 21 32 30 32 27
 23 28 24 32 28 23 29 24 28 27 35 22 20 22 35 23 21 20 26 35 27 26 33 35
 24 31 20 26 32 26 28 22 28 33 20 20 33 23 35 28 25 32 30 22 20 23 31 32
 28 22 31 28 26 31 33 34 35 23 22 29 34 35 24 24 22 31 28 23 30 24 23 24
 26 35 28 26 32 24 29 29 26 33 34 29 24 22 26 32 30 30 21 34 31 28 29 29
 31 20 32 25 26 33 32 27 29 28 21 30 29 21 24 32 24 25 22 27 35 32 20 25
 23 20 34 26 28 32 23 23 25 31 34 22 32 31 25 26 30 29 29 22 26 33 22 32
 32 21 31 33 29 23 31 27 32 34 28 26 20 22 32 31 33 28 34 31 20 28 27 20
 25 24 25 29 31 32 35 32 32 34 24 35 25 24 30 31 24 23 22 22 23 28 21 34
 28 20 33 34 34 20 24 25 25 22 35 26 28 30 31 29 35 35 27 25 31 27 31 24
 27 29 31 23 29 27 29 31 21 31 31 24 28 23 35 30]

## Query 13: Find the variance of batting average

In [52]:
var = df1['Batting Average'].var()
print(var)

131.6715008167167

## Query 14: Stack age and matches played horizontally

In [54]:
a = df1['Age']
b = df1['Matches Played']
stacked = np.stack((a,b),axis = 1)
print(stacked)

[[ 26 456]
 [ 23 154]
 [ 32 210]
 ...
 [ 23 126]
 [ 35  16]
 [ 30 146]]

## Query 15: Split the batting average array into 5 equal parts.

In [56]:
a = df1['Batting Average'].to_numpy()
split = np.array_split(a,5)
print(split)

[array([27.7 , 24.61, 36.87, 51.81, 49.8 , 22.2 , 38.21, 40.9 , 45.78,
       46.01, 34.59, 42.43, 39.24, 55.4 , 41.21, 37.64, 36.18, 42.9 ,
       52.16, 41.54, 46.47, 49.51, 40.81, 37.07, 55.07, 36.7 , 38.48,
       59.61, 20.01, 27.42, 35.36, 57.3 , 22.8 , 20.38, 22.11, 23.54,
       21.5 , 39.19, 43.23, 30.87, 35.93, 23.67, 33.45, 40.9 , 49.29,
       20.13, 38.69, 31.88, 54.11, 48.62, 43.56, 31.09, 56.41, 21.8 ,
       24.38, 35.67, 24.98, 58.26, 51.92, 30.36, 43.54, 59.29, 55.37,
       44.03, 56.15, 59.57, 49.73, 22.6 , 36.06, 53.51, 29.22, 53.23,
       24.81, 21.88, 35.36, 21.47, 58.29, 53.05, 52.03, 45.19, 28.65,
       40.73, 43.89, 41.  , 30.41, 40.61, 39.65, 59.85, 55.9 , 38.54,
       44.92, 49.91, 21.39, 55.8 , 54.41, 38.3 , 35.65, 30.92, 39.07,
       21.78, 54.09, 21.42, 33.16, 57.26, 49.41, 31.26, 30.11, 20.2 ,
       47.83, 21.95, 41.3 , 58.48, 24.38, 55.78, 59.66, 22.46, 55.32,
       40.64, 56.26, 42.85, 46.48, 41.75, 54.58, 49.36, 40.85, 54.73,
       29.81, 26.29, 26.42, 33.36, 29.55, 57.2 , 24.23, 47.96, 27.57,
       55.27, 58.45, 38.62, 55.16, 20.21, 52.8 , 29.15, 56.35, 20.04,
       42.25, 50.27, 30.35, 27.73, 23.36, 33.06, 42.39, 24.63, 35.07,
       20.36, 52.75, 25.14, 31.33, 20.74, 37.29, 53.6 , 35.69, 27.18,
       50.15, 51.55, 26.95, 50.83, 57.89, 26.66, 50.84, 48.34, 38.94,
       22.32, 22.99, 54.1 , 59.61, 47.04, 37.84, 45.9 , 43.78, 35.34,
       22.63, 52.86, 34.87, 52.75, 30.1 , 20.04, 26.36, 38.74, 57.77,
       24.09, 54.17, 41.08, 53.04, 31.93, 53.6 , 50.91, 29.2 , 25.25,
       54.72, 58.53]), array([21.25, 49.25, 56.38, 54.29, 58.58, 50.4 , 37.69, 32.48, 32.83,
       48.98, 49.83, 28.01, 54.72, 48.6 , 42.51, 38.86, 41.73, 26.37,
       28.15, 23.65, 26.15, 38.15, 41.21, 20.71, 51.87, 31.77, 56.47,
       58.7 , 27.42, 38.48, 20.05, 43.93, 44.29, 29.9 , 42.34, 29.02,
       26.43, 46.06, 33.04, 43.61, 37.33, 59.37, 25.98, 38.58, 47.22,
       35.82, 58.99, 48.88, 46.28, 50.28, 58.11, 56.31, 48.97, 49.97,
       25.84, 24.11, 42.84, 20.73, 39.29, 28.41, 33.84, 51.03, 57.65,
       22.9 , 41.37, 55.3 , 23.3 , 52.98, 34.31, 32.88, 59.1 , 28.03,
       47.73, 52.86, 21.65, 46.82, 58.06, 24.97, 55.85, 43.79, 44.66,
       44.52, 31.95, 57.41, 57.89, 45.01, 51.34, 44.49, 39.38, 46.43,
       42.12, 43.9 , 51.35, 39.24, 21.63, 26.56, 37.54, 48.99, 43.73,
       46.01, 39.17, 44.63, 33.16, 38.81, 49.77, 54.87, 37.35, 21.75,
       26.47, 20.83, 46.13, 33.29, 41.7 , 39.73, 23.26, 36.13, 28.82,
       36.74, 28.14, 53.62, 26.97, 58.43, 36.64, 53.85, 45.15, 49.41,
       50.71, 40.19, 41.73, 40.56, 43.52, 21.18, 35.82, 44.25, 43.91,
       51.72, 46.2 , 59.69, 31.35, 34.37, 35.35, 38.63, 53.44, 29.43,
       51.04, 36.21, 44.07, 45.3 , 34.91, 40.5 , 36.52, 22.77, 37.49,
       23.9 , 36.2 , 43.72, 43.18, 46.5 , 23.81, 46.08, 32.49, 35.96,
       54.32, 20.36, 43.54, 43.95, 35.87, 29.48, 29.39, 55.35, 37.68,
       33.24, 37.95, 46.78, 25.83, 37.98, 43.52, 57.94, 30.1 , 34.37,
       35.17, 44.22, 34.27, 41.34, 51.27, 48.22, 37.85, 54.57, 42.33,
       41.6 , 21.37, 59.47, 24.92, 29.25, 22.07, 45.6 , 28.99, 27.2 ,
       23.54, 24.13]), array([43.39, 47.53, 35.9 , 39.2 , 47.44, 20.7 , 32.93, 58.92, 43.2 ,
       30.17, 40.87, 33.71, 41.29, 25.03, 25.31, 25.74, 57.59, 49.32,
       26.5 , 27.53, 49.23, 26.25, 29.38, 58.53, 30.21, 46.47, 59.15,
       34.97, 20.7 , 29.77, 53.24, 54.58, 50.74, 24.52, 51.82, 56.75,
       44.02, 57.64, 53.07, 46.68, 43.09, 33.94, 26.37, 44.2 , 32.72,
       54.66, 59.73, 50.1 , 23.62, 31.55, 24.36, 46.02, 50.61, 57.03,
       37.53, 56.06, 55.12, 32.69, 54.76, 35.03, 31.87, 45.96, 33.14,
       45.21, 44.39, 42.54, 35.22, 41.94, 43.86, 41.83, 37.78, 20.59,
       43.48, 26.74, 45.7 , 50.37, 40.02, 41.69, 58.06, 53.89, 56.57,
       52.55, 24.36, 25.96, 41.06, 29.84, 39.07, 35.77, 41.98, 49.88,
       48.62, 40.85, 52.9 , 37.23, 55.87, 22.85, 58.19, 46.19, 35.2 ,
       27.89, 39.17, 27.78, 26.65, 44.69, 40.92, 46.8 , 57.18, 41.29,
       43.24, 23.59, 48.71, 36.  , 59.07, 52.93, 40.9 , 24.93, 54.38,
       51.99, 27.38, 31.81, 51.74, 27.41, 56.71, 36.98, 23.48, 52.63,
       34.94, 41.06, 24.49, 20.1 , 45.52, 40.61, 43.74, 51.75, 45.86,
       26.99, 34.43, 56.24, 50.8 , 42.27, 30.23, 32.08, 49.28, 54.05,
       46.86, 52.38, 50.67, 25.99, 36.96, 26.12, 29.41, 54.77, 38.92,
       41.41, 27.14, 32.49, 29.21, 28.25, 45.52, 30.28, 45.28, 22.34,
       25.67, 30.98, 43.88, 47.03, 37.71, 37.83, 48.98, 20.63, 33.64,
       52.75, 44.13, 33.49, 56.22, 50.9 , 30.6 , 45.81, 43.83, 36.05,
       34.68, 33.74, 44.69, 37.7 , 53.27, 46.78, 22.8 , 45.61, 30.85,
       43.71, 47.21, 29.23, 38.27, 27.61, 22.09, 35.14, 34.52, 59.82,
       37.85, 33.34]), array([43.22, 23.55, 58.47, 45.4 , 50.19, 26.82, 36.38, 36.91, 52.87,
       20.05, 32.03, 59.25, 39.  , 35.3 , 24.79, 58.97, 20.8 , 49.49,
       50.74, 29.75, 46.86, 23.72, 30.28, 51.52, 54.59, 44.34, 40.27,
       26.37, 22.52, 24.71, 29.09, 33.67, 35.24, 33.85, 29.56, 40.39,
       53.01, 31.19, 57.7 , 54.93, 26.47, 51.45, 42.98, 42.66, 35.64,
       40.05, 35.89, 41.59, 45.12, 46.97, 41.3 , 48.86, 25.65, 28.48,
       52.75, 32.9 , 20.92, 26.15, 28.94, 58.29, 42.92, 57.31, 43.01,
       39.17, 32.55, 44.25, 25.57, 55.93, 53.17, 32.7 , 58.11, 53.01,
       46.65, 24.87, 39.13, 40.24, 29.3 , 23.2 , 51.07, 24.88, 43.77,
       57.46, 55.04, 31.11, 54.06, 20.01, 20.71, 44.1 , 34.59, 35.46,
       42.58, 27.67, 28.47, 39.38, 50.17, 44.78, 31.89, 37.21, 26.83,
       22.99, 51.31, 30.62, 27.11, 47.66, 44.72, 45.33, 29.16, 29.31,
       28.83, 26.95, 46.23, 53.92, 48.97, 51.68, 36.19, 46.16, 34.17,
       41.02, 39.27, 27.08, 35.48, 58.55, 29.94, 25.35, 36.74, 51.61,
       43.29, 47.24, 27.59, 44.76, 32.94, 53.37, 45.17, 27.95, 22.58,
       21.71, 34.86, 30.63, 45.84, 39.97, 30.64, 25.97, 25.09, 54.59,
       29.74, 46.07, 52.43, 44.56, 54.38, 35.7 , 58.25, 25.33, 24.09,
       46.35, 57.71, 52.36, 23.06, 31.17, 57.21, 30.12, 51.25, 53.01,
       39.82, 35.45, 38.  , 29.08, 55.58, 38.02, 55.3 , 24.23, 59.53,
       37.73, 21.91, 21.52, 49.85, 46.36, 52.09, 24.21, 21.42, 40.34,
       35.5 , 38.48, 59.66, 58.83, 57.69, 51.35, 34.19, 36.49, 41.98,
       53.22, 22.75, 36.97, 23.3 , 40.59, 55.96, 51.3 , 29.11, 59.04,
       46.69, 20.42]), array([30.22, 30.43, 22.77, 58.39, 39.13, 55.83, 32.89, 25.01, 38.97,
       24.56, 39.44, 56.81, 40.83, 44.66, 26.27, 21.75, 24.43, 43.94,
       23.8 , 35.04, 42.  , 35.55, 26.55, 30.95, 57.13, 47.04, 39.84,
       20.51, 59.7 , 46.86, 32.68, 55.17, 30.34, 41.76, 45.44, 28.84,
       59.14, 49.93, 42.31, 27.22, 22.15, 32.8 , 50.13, 30.77, 41.58,
       49.12, 24.32, 47.41, 23.67, 58.61, 39.54, 26.03, 33.7 , 36.54,
       50.33, 49.74, 44.48, 24.24, 26.06, 23.75, 43.09, 55.09, 37.35,
       26.43, 42.32, 52.47, 49.67, 55.26, 31.12, 27.76, 55.19, 46.3 ,
       32.44, 49.69, 52.6 , 44.6 , 47.52, 35.01, 41.55, 40.97, 53.92,
       53.6 , 53.31, 20.44, 49.98, 50.35, 47.14, 50.25, 53.68, 38.81,
       40.08, 24.99, 35.42, 45.73, 51.22, 28.69, 25.51, 46.52, 20.08,
       27.13, 21.16, 26.68, 27.25, 35.51, 36.09, 54.97, 40.4 , 48.94,
       24.17, 29.02, 48.12, 22.11, 39.46, 43.97, 44.09, 20.92, 32.88,
       45.46, 25.96, 47.82, 49.84, 59.28, 28.39, 53.01, 40.81, 34.94,
       24.9 , 49.42, 29.43, 34.86, 22.5 , 52.05, 50.66, 49.34, 31.98,
       26.94, 45.5 , 39.85, 27.13, 47.44, 59.65, 49.89, 49.6 , 58.01,
       28.12, 42.62, 59.19, 26.61, 48.01, 43.43, 43.46, 47.91, 57.18,
       51.3 , 22.25, 54.11, 29.02, 35.08, 38.47, 39.24, 37.41, 57.49,
       48.24, 45.25, 21.99, 56.16, 56.38, 51.21, 20.28, 22.29, 29.01,
       25.25, 35.95, 56.9 , 38.88, 20.54, 31.31, 21.78, 21.45, 31.03,
       31.02, 51.49, 58.99, 34.85, 37.16, 53.79, 30.73, 26.26, 54.12,
       21.86, 44.79, 42.48, 33.84, 32.61, 50.87, 23.46, 29.47, 49.3 ,
       41.93, 25.12])]